body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#weatherForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weatherForm label {
    display: block;
    margin-bottom: 10px;
}

#weatherForm select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#weatherForm button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#weatherResults {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weatherResults h2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#weatherResults p {
    margin: 10px 0;
}

#weeklyWeather ul {
    list-style-type: none;
    padding: 0;
}

#weeklyWeather li {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weeklyWeather h3 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#weeklyWeather h4 {
    color: #333;
}

#weeklyWeather p {
    margin: 10px 0;
}

.error {
    color: red;
    font-weight: bold;
}
